/*
.btn-warning {
	background: #FC9347;
}

.btn-primary {
	background: #FC9347;
	outline: none;
}

.btn-success {
	background: #FC9347;
} */

.btn {
	outline: none !important;
	margin-bottom: 6px;
}

.js-validate-error-label {
	margin-top: 4px;
}

.btn-form {
	font-size: 17px;
	margin-right: 4px;
}

.la-forme__marquer {
	margin-right: 10px !important;
}

.obliging-star {
	color: #fc995f;
}

button .fas {
	margin-right: 4px;
}

.template-upload {
	background-color: #9a8a82 !important;
	border-top: 1px solid #52443D;
	border-bottom: 1px solid #52443D;
	color: #f9f9f9;
}

.template-upload a {
	color: #f9f9f9;
}

.template-download {
	background-color: #9a8a82 !important;
	border-top: 1px solid #52443D;
	border-bottom: 1px solid #52443D;
	color: #f9f9f9;
}

.template-download a {
	color: #f9f9f9;
}

.preview-ok {
 	width: 40px;
	height: 40px;
	display: flex;
	justify-items: center;
	align-items: center;
	text-decoration: none;
}

.preview-ok:hover {
	text-transform: none;
	text-decoration: none;
}

.preview-ok i {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 22px;
	color: #26d367;
	display: flex;
	justify-items: center;
	align-items: center;
	padding-left: 10px;
}

.preview-ok i:hover {
	text-transform: none;
	text-decoration: none;
}


/* FORM BOX */
.form-box {
	position: relative;
	background: #B79891;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #9a8a82 -50%, #716259, #9a8a82);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #9a8a82 -50%, #716259, #9a8a82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 50px;
	border-radius: 4px;
	border-right: 20px solid #635953;
	border-left: 10px solid #635953;
	z-index: 39;
}

.form-box label {
	font-size: 16px;
	color: #f9f9f9;
}

.form-box label[for=la-forme__le-nom] {

}


.inline-ckeckbox {
	position: relative;
	display: flex;
	margin-bottom: 30px;
}

.inline-ckeckbox--1 {
	margin-top: 30px;
}

.inline-ckeckbox--2 {
	margin-top: 75px;
}

.inline-ckeckbox--1 .js-validate-error-label {
	position: absolute;
	bottom: -60px;
	left: 0;
}

.inline-ckeckbox--2 .js-validate-error-label {
	position: absolute;
	bottom: -20px;
	left: 0;
}


.marquer-2-form {
	position: relative;
	margin-bottom: 50px;
}

.pseudo-label {
	position: absolute;
	top: 0;
	left: 40px;
	color: #f9f9f9;
	font-size: 16px;
	width: 100%;
	line-height: 20px;
}

.la-forme__la-zone {
	background-color: #f7f7f7;
	transition: all .5s linear;
}

.la-forme__la-zone:focus {
	background-color: #ffffff;
}

/* LDS-RIPPLE */

/* BS-OVERLAY */
.bs-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.65);
	border-radius: 4px;
    z-index: 49;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bs-overlay>div {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* SC-OVERLAY */
.sc-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
    z-index: 49;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc-overlay>div {
    background-color: white;
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
}

.sc-overlay p:first-child {
    margin-bottom: 10px;
    font-size: 32px;
}

.sc-overlay p:last-child {
    font-size: 20px;
}

.sc-overlay button {
    outline: none;
    border: 0;
    padding: 15px 35px;
    margin-top: 25px;
    background-color: #FC9347;
	color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.sc-overlay button:hover {
    background-color: #f49c5d;
}

@media (max-width: 840px) {
	.form-box {
		padding: 20px;
		border-right: 8px solid #635953;
		border-left: 8px solid #635953;
	}
}
