// Colors
$global-red-NY: #EE1D23;
$global-gold-NY: #D4B990;
$global-green-NY: #3AB54A;
$global-sky-blue-NY: #00AEEF;
$global-blue-NY: #015AAA;
$global-bulgarian-rose: rgba(75, 15, 16, 1);

$global-white: rgba(255, 255, 255, 1);
$global-ligth-gray: #EEF1F8;
$global-dark-gray: #222222;
$global-dim-gray: #919191;
$global-dark-dim-gray: #2D2D2D;

// Soc. Net. Colors
$global-vk: #506f9b;
$global-fa: #435897;
$global-tw: #5c9eff;
$global-te: #34ADE1;
$global-sk: #2d7bf7;
$global-ok: #EE8208;
$global-wh: #26d367;
$global-pi: #CB2029;

// Size
$global-view-port: 1400px;
