@import './_params.scss';
@import './_mixins.scss';

body {
    @include clear;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.wrapper {
    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6,
    // p {
    //     @include clear;
    // }
    // ul {
    //     @include clear-list;
    // }
    // a {
    //     text-decoration: none;
    // }
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, transparentize($global-bulgarian-rose, .2), transparentize($global-bulgarian-rose, .8)), url(https://raw.githubusercontent.com/ProUnebit/Reminder_ToMe_Reminder/master/src/assets/img/bg-participants.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

.view-port {
    max-width: $global-view-port !important;
    margin: 0 auto;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    // background-color: red;
    width: 100%;
}

.participants-page {
    @include clear;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @include clear;
    }
    ul {
        @include clear-list;
    }
    a {
        text-decoration: none;
    }

    &__content {

    }
}

.page-title-box {
    background: url('/img/bg-title.svg') no-repeat;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    &__title {

    }
}
